<!doctype html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    
    <main class="container-fluid">
        
        <section class="row">
          <article class="col-12  card " >
                  <div class="card-body">
                    <h2 class="display-4 text-white bg-info text-center pt-2">Crear un Producto</h2>
                  </div>
          </article>
        </section>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row" >
                    <div class="col-8 mx-auto bg-light ">
                        <div class="create-form">
                            <form action="/administrar/create" method="POST" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="required" value="">
                                </div>	
                                <div class="form-group">
                                    <input type="text" class="form-control" name="descripcion" placeholder="Descripción" required="required" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="model" placeholder="Modelo" required="required" value="">
                                </div>
                                

                                <div class="col-md-6  p-0">
                                    <% if(categorias != 'undefined'){ %>
                                      
                                        <select class="custom-select form-group mb-2 "  name="categoria" id="categoria" >
                                          <option value="#" disabled >Seleccione la categoría del calzado </option>
                                          <% for (const categoria of categorias) { %>
                                            <option value="<%=categoria.id %>"><%=categoria.nombre %></option>
                                          <% } %>
                                        </select>
                                        
                                    <% } %>
                                  </div>  
                                  <div class="col-md-6  p-0">
                                    <% if(materials != 'undefined'){ %>
                                      
                                        <select class="custom-select form-group mb-2 "  name="material" id="material" >
                                          <option value="#" disabled >Seleccione la categoría del calzado </option>
                                          <% for (const material of materials) { %>
                                            <option value="<%=material.id %>"><%=material.nombre %></option>
                                          <% } %>
                                        </select>
                                        
                                    <% } %>
                                  </div>

                                  <div class="col-md-6  p-0">
                                    <% if(brands != 'undefined'){ %>
                                      
                                        <select class="custom-select form-group mb-2 "  name="brand" id="brand" >
                                          <option value="#" disabled >Seleccione la marca del calzado </option>
                                          <% for (const brand of brands) { %>
                                            <option value="<%=brand.id %>"><%=brand.nombre %></option>
                                          <% } %>
                                        </select>
                                        
                                    <% } %>
                                  </div>  
                                  <div class="col-md-6  p-0">
                                      
                                        <select class="custom-select form-group mb-2 "  name="destacado" id="destacado" >
                                          <option value="#" disabled >Destacado?  </option>
                                            <option value="1">Si</option>
                                            <option value="0">No</option>
                                          
                                        </select>
                                        
                                  </div>  
                                  <div class="col-md-6  p-0">
                                      
                                    <select class="custom-select form-group mb-2 "  name="genero" id="genero" >
                                      <option value="#" disabled >Genero?  </option>
                                        <option value="0">Masculino</option>
                                        <option value="1">Femenino</option>
                                     
                                    </select>
                                   </div>  

                                   
                                  <div class="col-md-6  p-0">
                                      
                                    <select class="custom-select form-group mb-2 "  name="adulto" id="adulto" >
                                      <option value="#" disabled >Talle de Adulto?</option>?  
                                        <option value="1">Si</option>
                                        <option value="0">No</option>
                                     
                                    </select>
                                   </div>  

                                <div class="form-group">
                                    <select  name="descuento" class="custom-select"  required>
                                      <option selected disabled value="#">Elija su descuento</option>
                                      <option value="0">Sin descuento</option>
                                      <option value="15">15%</option>
                                      <option value="30">30%</option>
                                      <option value="50">50%</option>
            
                                    </select>
                                </div>
                                    
                                  
                                <!--Aquí solicito la imagen-->
                                <div class="custom-file">
                                    <input type="file" name="foto" >
                                    <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=""> 

                                    <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
                                  </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn btn-info">Guardar</button>
                                    <a href="/administrar" class="btn btn-danger">Volver</a>
                                </div>
                                
                            </form>
                    </div>                        
                    </div>
                </div>
            </div>
        </section>
            <%- include('../partials/footer') %>   -->     <!-- Scripts para Bootstrap -->
      Footer <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   </main>
</body>
</html>




<!--     adaptar codigo dani
<!doctype html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <div class="container-fluid">
      <%- include('../partials/navBar') %>  -->

        <!-- Cuerpo principal -->
    <!-- <section class="row">
          <article class="col-12  card pt-5" >
                  <div class="card-body">
                    <h1 class="card-title text-center">Crear el Plato</h1>
                  </div>
          </article>
      </section>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row" >
                    <div class="col-8 mx-auto bg-light ">
                        <div class="signup-form">
                            <form action="/admin/create" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nombre" placeholder="Nombre del plato" required="required">
                                </div>	
                                <div class="form-group">
                                    <input type="text" class="form-control" name="descripcion" placeholder="Descripción del plato" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="precio" placeholder="Indique el precio" required="required">
                                </div>
                                <div class="form-group">
                                    <select  name="descuento" class="custom-select" required>
                                      <option selected disabled value="#">Elija su descuento</option>
                                      <option value="0">Sin descuento</option>
                                      <option value="15">15%</option>
                                      <option value="30">30%</option>
                                    </select>
                                </div>
                                <div class="custom-file">
                                    <input type="file" name="imagen" >
                                  </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn btn-info">Guardar</button>
                                    <a class="btn btn-danger" href="/administrar">Volver</a>
                                </div>
                            </form>
                            
                    </div>                        
                    </div>
                </div>
            </div>
        </section>  -->
        <!-- Footer -->
        <!--<%- include('../partials/footer') %>   -->     <!-- Scripts para Bootstrap -->
     <!-- Footer <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>-->