<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %> 
  <body>
    <%- include('../partials/header.ejs') %>   
    <main class="container-fluid">
      
      <!--Producto-->
      <br><br>
      <section class="row">
            <article class="col-12 col-md-6 mx-auto mt-5 producto">
                <figure class="imagenProducto">
                  <img  src="<%= calzado.foto%>" class="card-img-top w-100 d-block" alt="<%= calzado.descripcion%>">
                </figure> 
                <% if  (calzado.descuento == 30) { %>
                  <img class="descuento" src="/img/promo30.png" alt="Descuento 30%">
                <% } else if (calzado.descuento == 15){%>
                  <img class="descuento" src="/img/promo15.png" alt="Descuento 15%">
                <%}%>
                <div class="card-body">
                  <h5 class="card-title"><%= calzado.nombre%></h5>
                  <h5 class="card-title">$ <%= calzado.precio %></h5>
                  <p class="card-text"><%= calzado.descripcion %></p>
                  
                </div>
                <a href="/administrar" class="btn btn-danger">Volver</a>
            </article>
      </section>
    </main>
    
  </body>
</html>

