<!doctype html>
<html lang="es">
  <%- include('../partials/head') %>
  <%- include('../partials/navBar') %>  
  <body  style="margin-top:70px" >
     
    <main class="container-fluid">
    
  
        
        <!-- Cuerpo principal -->
        <section class="row">
          <article class="col-12  card" >
                  <div class="card-body">
                    <h2 class="display-4 text-white bg-info text-center pt-2">Actualizar un Calzado</h2>
                  </div>
          </article>
      </section>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row" >
                    <div class="col-8 mx-auto bg-light ">
                        <div class="create-form">
                            <form action="/administrar/edit/<%= calzado.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="title" placeholder="Titulo" required="required" value="<%= calzado.title%>">
                                </div>	
                                <div class="form-group">
                                    <input type="text" class="form-control" name="descripcion" placeholder="Descripción" required="required" value="<%= calzado.descripcion%>">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="model" placeholder="Modelo" required="required" value="<%= calzado.model%>">
                                </div>
                                
                                <div class="form-group">
                                    <select  name="genero" class="custom-select" id="validationCustom04" required>
                                      <option disabled value="#">Seleccione el genero"</option>
                                      <option value="0" <%= calzado.genero == 0 ? "selected" : null %>>Masculino</option>
                                      <option value="1" <%= calzado.genero == 1 ? "selected" : null %>>Femenino</option>
                                      </select>
                                </div>

                                <div class="form-group">
                                    <select  name="adulto" class="custom-select" id="validationCustom04" required>
                                      <option disabled value="#">Seleccione si es para Adultos o Niños"</option>
                                      <option value="0" <%= calzado.adulto == 0 ? "selected" : null %>>Niños</option>
                                      <option value="1" <%= calzado.adulto == 1 ? "selected" : null %>>Adulto</option>
                                      </select>
                                </div>


                                <div class="form-group">
                                    <select  name="descuento" class="custom-select" id="validationCustom04" required>
                                      <option disabled value="#">Seleccione un descuento"</option>
                                      <option value="0" <%= calzado.descuento == 0 ? "selected" : null %>
                                        >Sin descuento</option>
                                      <option value="15" <%= calzado.descuento == 15 ? "selected" : null %>>15%</option>
                                      <option value="30" <%= calzado.descuento == 30 ? "selected" : null %>>30%</option>
                                      <option value="50" <%= calzado.descuento == 50 ? "selected" : null %>>50%</option>
                                    </select>
                                </div>
                                <!--Aquí solicito la foto-->
                                <div class="custom-file">
                                    <figure class="form-group">
                                        <img  class="w-100" src="/images/calzados/<%=calzado.imagen%>" alt="calzado <%= calzado.descripcion %>">
                                    </figure>
                                    <input type="hidden"  name="oldfoto"  value="<%= calzado.imagen %>">
                                    <!--De esta forma logro conservar y que viaje la foto anterior de esta forma evito que el usuario seleccione una foto nuevamente, ( si no lo desea) -->
                                    <input type="file" name="foto" >
                                    <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="foto" required value=""> 

                                    <label class="custom-file-label" for="inputGroupFile01">Seleccione una foto...</label>-->
                                  </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn btn-info">Actualizar</button>
                                    <a href="/administrar" class="btn btn-danger">Volver</a>
                                </div>
                                
                            </form>
                    </div>                        
                    </div>
                </div>
            </div>
        </section>
           
        <%- include('../partials/footer') %>        
        <!-- Scripts para Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     </main>  
</body>
</html>



