<!--  codigo de santi anterior -->

<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")  %>     
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registrar</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<main>
		<form action="" class="formulario" id="formulario">
			<!--Usuario -->
			<div class="formulario__grupo" id="grupo__usuario">
				<label for="usuario" class="formulario__label">Usuario</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="usuario" id="usuario">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error"><b>Usuario Invalido</b> incluya numeros, letras y guion bajo unicamente </p>
			</div>

			<!--Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error"><b>Contraseña Invalida</b> 6 - 12 dígitos </b></p>
			</div>
        
			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">Crear Cuenta</button>
			</div>
        
		</form>

	</main>
  <!-- Footer -->
  <%- include('../partials/footer') %>
  <script src="/js/formulario.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
      
</body>
</html>










<!-- old code 

<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head")  %> 

      

<body>    

    <%- include('../partials/header')   %>

    <main>

        <h2 id='titulos-1' class= 'titles' >Ingresá a tu cuenta</h2>
        
        <form>
            <div class='container-input'>
                <input type='text' id='nombreUsuario' placeholder="Télefono, e-mail o usuario" name='nombreUsuario'>
            </div>
            <div class='container-input'>
                <input type='password' id='password' placeholder="Clave" name='pasword'>
            </div>
            <div class='container-button'>
                <button type='submit' id='boton-enviar'><a class='send-text' href="/">Continuar</a></button>
            </div>
        </form>

        <h4 id='titulos-1' class= 'titles' >¿No tenés cuenta?</h4>

        <form>
            <div class='container-button'>
                <button type='submit' id='boton-enviar'><a class='send-text' href="/register">Crear Cuenta</a></button>
            </div> 
        </form>

    </main>

    <%- include('../partials/footer')   %>

</body>
</html>

 -->